## Creating weather location grid table
1. Import existing grid files.
2. Eliminate non-useful grids.
3. Create new dataframe by iterating through grids and weather for that specific grid.

In [0]:
# Imports
import pandas as pd
import numpy as np
import io
from google.colab import files, drive
import zipfile
import shutil

In [3]:
# Mount Google Drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# Set root path, will be different for everyone
root_path = '/content/gdrive/My Drive/U - SE 4455 Software Design/Capstone Public Folder/Data/'

In [0]:
required_files = [
  'Alberta Location /Ivan_NarrowedData/AL_location_grid_wooded.csv.zip',
  'Alberta Location /Shima_NarrowedData/AL_location_grid_usefulness.csv.zip',
  'Weather - Daily Summer Weather per Province/AL_daily_weather_2017_2018.csv.zip',
  'Weather - Stations/alberta_grid_system_with_station.csv.zip',
  'Weather - Stations/current_station_inventory.csv.zip',
]

for local_path in required_files:
  file_path = root_path + local_path
  with zipfile.ZipFile(file_path,"r") as zip_ref:
    zip_ref.extractall('.')

In [0]:
# Import all files into pandas dataframes
location_grid_wooded = pd.read_csv('AL_location_grid_wooded.csv')
location_grid_boreal = pd.read_csv('AL_location_grid_usefulness.csv')
daily_weather = pd.read_csv('AL_daily_weather_2017_2018.csv')
location_grid_stations = pd.read_csv('alberta_grid_system_with_station.csv')
weather_stations = pd.read_csv('current_station_inventory.csv')

In [10]:
daily_weather.head()

   Unnamed: 0  Longitude (x)  ...  Spd of Max Gust (km/h) Spd of Max Gust Flag
0         181        -112.82  ...                      41                  NaN
1         182        -112.82  ...                      32                  NaN
2         183        -112.82  ...                      50                  NaN
3         184        -112.82  ...                      41                  NaN
4         185        -112.82  ...                     <31                  NaN

[5 rows x 32 columns]

In [11]:
# Leave only useful grids
print(f'Total grids: {len(location_grid_stations)}')
only_wooded_grid_locations = location_grid_wooded[location_grid_wooded['wooded'] == 1]
useful_grids = pd.merge(location_grid_boreal, only_wooded_grid_locations, on='KEY')['KEY']
print(f'Useful grids: {len(useful_grids)}')

useful_location_grid_stations = pd.merge(useful_grids, location_grid_stations, on='KEY')
print(f'Eliminated: {len(location_grid_stations) - len(useful_location_grid_stations)}')

Total grids: 2296
Useful grids: 1833
Eliminated: 463

In [12]:
# Rename key name
weather_stations.rename(columns={'Name': 'Station Name', 'Station ID': 'STATION ID'}, inplace=True)
weather_stations = weather_stations[['Station Name', 'STATION ID']]

# Get daily weather ready for merging
daily_weather_with_station = pd.merge(weather_stations, daily_weather, on='Station Name')
daily_weather_with_station.head()

  Station Name  STATION ID  ...  Spd of Max Gust (km/h)  Spd of Max Gust Flag
0   EGG ISLAND         389  ...                     NaN                     M
1   EGG ISLAND         389  ...                     NaN                     M
2   EGG ISLAND         389  ...                     NaN                     M
3   EGG ISLAND         389  ...                     NaN                     M
4   EGG ISLAND         389  ...                     NaN                     M

[5 rows x 33 columns]

In [13]:
weather_location_grid = pd.merge(useful_location_grid_stations, daily_weather_with_station, on='STATION ID')
weather_location_grid.head()

           KEY  Unnamed: 0_x  ...  Spd of Max Gust (km/h) Spd of Max Gust Flag
0  49.0|-113.8             0  ...                      52                  NaN
1  49.0|-113.8             0  ...                      33                  NaN
2  49.0|-113.8             0  ...                      57                  NaN
3  49.0|-113.8             0  ...                      48                  NaN
4  49.0|-113.8             0  ...                      37                  NaN

[5 rows x 35 columns]

In [0]:
# Clean up table
weather_location_grid.rename(columns={'KEY': 'LOCATION KEY'}, inplace=True)
del weather_location_grid['Unnamed: 0_x']
del weather_location_grid['Unnamed: 0_y']
weather_location_grid['KEY'] = weather_location_grid['LOCATION KEY'] + '|' + weather_location_grid['Date/Time']

In [15]:
weather_location_grid.set_index('KEY', inplace=True)
weather_location_grid.head()

                       LOCATION KEY  ...  Spd of Max Gust Flag
KEY                                  ...
49.0|-113.8|2017-07-01  49.0|-113.8  ...                   NaN
49.0|-113.8|2017-07-02  49.0|-113.8  ...                   NaN
49.0|-113.8|2017-07-03  49.0|-113.8  ...                   NaN
49.0|-113.8|2017-07-04  49.0|-113.8  ...                   NaN
49.0|-113.8|2017-07-05  49.0|-113.8  ...                   NaN

[5 rows x 33 columns]

In [0]:
weather_location_grid.to_csv('weather_location_grid.csv.gz', compression='gzip')

In [0]:
# Download the file locally 
files.download('weather_location_grid.csv.gz')

In [21]:
# Save file to google drive
file_path = root_path + 'Alberta Location /AL_weather_location_grid.csv.gz'
shutil.copy('weather_location_grid.csv.gz', file_path)

'/content/gdrive/My Drive/U - SE 4455 Software Design/Capstone Public Folder/Data/Alberta Location /AL_weather_location_grid.csv.gz'